/* --------- Reglas para los contenedores --------- */
.principal {
 padding-top:1%;
 padding-bottom:0px;
 #min-width:80%;
 max-width:95%; 
}

.logo {
 max-height:100px;
 max-width:150px;
}

.home {
 padding-top:2%;
 max-width:60%;
 padding-bottom:2%;
}

.botonesHome {
 margin-bottom:10px;
}

.header {
 background: rgb(131,58,180);
 background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.footer {
 background: rgb(131,58,180);
 background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 60px;
 line-height: 60px;
 vertical-align:center;
}

.textoFooter {
 color:white;
}

.iconoFooter {
 width:30px;
 height:30px;
 vertical-align:center;
}

/* --------- Reglas para la caja del Tateti --------- */

.mensajeInferior {
 margin-top:1%;
}

.nombreJugador {
 padding-left:5px;
}

.fila1 {
 height:70px;
 width:100%;
 #background-color:#557777;
 padding-right:0px;
 margin-bottom:10px;
 color:red;
 border-bottom: 3px dotted #1C6EA4;
 vertical-align:baseline;
}

.columna1 {
 border-right: 3px dotted #1C6EA4;	
}

.fila2 {
 height:70px;
 width:100%;
 #background-color:#557777; 
 padding-left:0px; 
 margin-top:5px;
 margin-bottom:10px;
 color:red;
 border-bottom: 3px dotted #1C6EA4;
 vertical-align:baseline;
}

.columna2 {
 
}

.fila3 {
 height:70px;
 width:100%;
 #background-color:#557777; 
 color:red;
 vertical-align:baseline;
}

.columna3 {
 border-left: 3px dotted #1C6EA4;
}

/* Adaptacion Mobile del contenedor del juego */
@media screen and (max-width:640px) {
	.header {
	 height:50px; 
	 vertical-align:center;    
    }
    .logo {
     max-height:40px;
     max-width:150px;
     padding-bottom:10%;
    }
    .botonSuperior {
     height:2%;
    }
    .datosJuego {
     height:2%;
    }
	.contenedorColumnas{
     width:100%;     
	}
    .columnaIzquierda {
     width:32%;
    }
    .columnaCentral {
     width:30%;
     padding-right:0px;
     padding-left: 0px;
    }
    .columnaDerecha {
     width:32%;
    }
    .imagenObjeto {
     width: auto;
     height: 30px;
    }
    .footer { 
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 30px;
     line-height: 30px;
     vertical-align:center;
    }
    .iconoFooter {
     width:15px;
     height:15px;
     vertical-align:center;
    }
    .mensajeFinal{
     width:100%;
     height:10%;
    }
}


.columnaCentral {
 padding-right:0px;
 padding-left: 0px;
}

.imagenObjeto {
 width: auto;
 height: 60px;
}

.contenedorGanador {
 background: #d2ff52;
 background: -moz-linear-gradient(left, #d2ff52 0%, #91e842 100%);
 background: -webkit-gradient(left top, right top, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
 background: -webkit-linear-gradient(left, #d2ff52 0%, #91e842 100%);
 background: -o-linear-gradient(left, #d2ff52 0%, #91e842 100%);
 background: -ms-linear-gradient(left, #d2ff52 0%, #91e842 100%);
 background: linear-gradient(to right, #d2ff52 0%, #91e842 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}